/* ------------------------------------------------------------------------------    
    Author: weihf
    Description: weihf resume   
    1.  CSS Reset
    2.  header
    3.  common section
    4.  tech
    5.  work experience
    6.  project
    7.  aboutMe
    8.  footer
    9.  forIE.html
---------------------------------------------------------------------------------
/* 1. CSS Reset
-------------------------------------------------------------------------------*/

body {
	margin: 0;
	background: #fff;
	color: #333;
	font-family: 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-print-color-adjust: exact;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: inherit;
}

ul,
ol {
	list-style-type: none;
}

p,
ul,
ol {
	text-align: justify;
	text-justify: inter-ideograph;
	line-height: 1.7;
}

img {
	border: none;
	vertical-align: top;
}

a,
a:visited {
	text-decoration: none;
	color: #08c;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: '.';
}

.fr {
	float: right;
}

@media (max-width: 749px) {
	.boundary {
		margin: 0 20px;
		clear: both;
	}
}

@media (min-width: 750px) {
	.boundary {
		max-width: 980px;
		margin: 0 auto;
		clear: both;
	}
}

@media (min-width: 750px) and (max-width: 1040px) {
	.boundary {
		max-width: auto;
		margin: 0 30px;
	}
}

.list > li {
	list-style: disc;
	margin-left: 1.3em;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex,
.flex *,
.flex :after,
.flex :before {
	box-sizing: border-box;
}

.flex>.cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
	display: block;
	padding: 0;
	position: relative
}


/*----------------------------------------------------
 2. header
------------------------------------------------------*/

.header {
	line-height: 1;
	padding-top: 1rem;
}

.myname {
	font-size: 2em;
	font-family: 'PingHei', 'STHeiti SC', 'SimHei';
}

.jobtitle {
	color: #888;
}

.header address {
	line-height: 21px;
	font-size: 0.875em;
	font-style: normal;
}

.header address ul li {
	padding-left: 24px;
	background: url(../img/sprites.png) no-repeat;
	background-size: 20px auto;
	margin-top: 8px;
	line-height: 20px;
}

.header address ul li.phone {
	background-position: 0px 0px;
}

.header address ul li.email {
	background-position: left bottom;
}

.header address ul li.downloadResume {
	background: none;
	padding-left: 0;
}

.header address ul li:last-of-type {
	margin-right: 0;
}

.btn,
.btn:visited {
	background: #1d9bd9;
	background: -webkit-linear-gradient(#3baee7, #08c);
	background: linear-gradient(#3baee7, #08c);
	color: #fff;
	border-radius: 0.4em;
	padding: 0 0.5em;
	font-size: 0.86em;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
}

.btn:hover {
	background: #f90;
	text-decoration: none;
}

.navWrap {
	margin-top: 1rem;
	background: #2c6787;
	width: 100%;
}

.nav li {
	display: block;
	flex: 1;
	text-align: center;
	line-height: 3rem;
	position: relative;
}

.nav li a {
	color: #fff;
}

.nav li a.select {
	color: #3385FF;
	text-decoration: none;
}

.nav li a:after,
.nav li a:first-child:before {
	content: '';
	position: absolute;
	right: 0;
	top: 1rem;
	width: 1px;
	height: 1rem;
	background-color: #dedede;
}

.nav li a:first-child:before {
	left: 0;
}

.fix-top {
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	z-index: 999;
}

@media (max-width: 320px) {
	.myname,
	.jobtitle {
		display: block;
		line-height: 1.2em;
	}
}

@media (min-width: 480px) {
	.header address ul li {
		float: left;
		margin-right: 22px;
	}
	.header address ul li.downloadResume {
		float: right;
		margin-right: 0;
	}
}

@media (min-width: 750px) {
	.logo {
		float: left;
	}
	.header address {
		float: right;
	}
}


/*----------------------------------------------------
 3. common section
------------------------------------------------------*/

.section:nth-child(even) {
	background: #fafafa;
}

.sectionHeader {
	text-shadow: 1px 1px 0 #fff;
	line-height: 1.4;
}

.sectionHeaderTitle,
.sectionHeaderSubtitle {
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
	text-align: center;
}

.sectionHeaderSubtitle {
	color: #999;
}

@media (max-width: 749px) {
	.section .boundary {
		padding: 25px 0;
	}
	.sectionHeader {
		margin-bottom: 20px;
	}
	.sectionHeaderTitle {
		font-size: 1.625em;
	}
	.sectionHeaderSubtitle {
		font-size: 1.25em;
	}
}

@media (min-width: 750px) {
	.section .boundary {
		padding: 35px 0;
	}
	.sectionHeader {
		margin-bottom: 30px;
	}
	.sectionHeaderTitle {
		font-size: 2.5em;
	}
	.sectionHeaderSubtitle {
		font-size: 2.125em;
	}
	.header {
		width: 100%;
		z-index: 99999;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.95);
	}
}


/*----------------------------------------------------
 4. tech
------------------------------------------------------*/

.tech > dd {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	width: 30%;
	display: inline-block;
	margin: 0 1.5%;
	vertical-align: top;
}

.tech > dd ul li {
	clear: both;
	overflow: hidden;
}

.tech > dd ul li tt {
	font-family: Georgia, serif;
	width: 40%;
	display: block;
	color: #999;
	float: left;
	position: relative;
	line-height: 40px;
}

.tech > dd ul li tt::before {
	position: absolute;
	content: "：";
	right: 0;
	top: 0;
	color: #999
}

.tech > dd ul li span {
	float: left;
	width: 60%;
	position: relative;
	background: #EEE none repeat scroll 0 0;
	height: 12px;
	border-radius: 32px;
	overflow: hidden;
	margin-top: 14px
}

.tech > dd ul li span i {
	height: 20px;
	display: inline-block;
}

.tech h3 {
	overflow: hidden;
	font-size: 1.2rem;
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
	color: #333;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
}

.tech .list {
	color: #666;
}

.green {
	background: #80bd01;
}

.blue {
	background: #3360A3;
}

.yellow {
	background: #fdbc40;
}

.black {
	background: #34495E;
}

.lightblue {
	background: #19B1E0;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

@media (max-width: 979px) {
	.tech > dd {
		width: 100%;
		float: none;
	}
	.tech h3 {
		padding: 30px 0 20px 0;
	}
}


/*----------------------------------------------------
  5. work experience
------------------------------------------------------*/

.workExp {
	border-left: 4px solid #ccc;
	padding: 1px 0;
	margin-left: 8px;
}

.timePoint {
	position: relative;
	padding-left: 15px;
	margin: 15px 0;
	height: 26px;
	line-height: 26px;
}

.timePoint i {
	width: 18px;
	height: 18px;
	border: 3px solid #fff;
	border-radius: 12px;
	background: #3498db;
	position: absolute;
	left: -14px;
	top: 0;
}

.copany {
	margin-left: 20px;
}

.copany h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #F53638;
}

.copany span {
	font-size: 1em;
	color: #999;
}

.copanyBody {
	margin-top: 4px;
}

@media (min-width: 640px) {
	.copany h4,
	.copany span {
		display: inline-block;
	}
	.copany span::before {
		content: '\2015\2015';
		padding-right: 4px;
	}
}


/*----------------------------------------------------
  6. project
------------------------------------------------------*/

.project {
	border-bottom: 2px dashed #ccc;
	padding: 15px 0;
	position: relative;
}

.project:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.projectIntro header {
	margin-bottom: 6px;
	position: relative;
}

.projectIntro header h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
	float: left;
}

.projectIntro header h4 a {
	color: #333;
}

.list li {
	list-style-type: disc;
}

.list li a {
	color: #666;
}

.company {
	float: left;
	width: 50%;
}

.person {
	float: right;
	width: 50%;
}

.tag li {
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 0.75em;
	font-family: 'Lucida Grande', arial;
}

.tagHtml {
	background: #f60;
}

.tagJs {
	background: #f0db4f;
}

.tagCss {
	background: #f90;
}

.tagPs {
	background: #80BD01;
}

.tagBs {
	background: #CC0099;
}

.projectLink {
	float: right;
}

.projectType {
	border-bottom: 1px solid #ccc;
	font-size: 1.3rem;
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
	padding: 1rem 0;
	width: 90%;
	margin-bottom: 20px;
}

.projectType:first-child {
	padding-top: 0;
}

.personLink {
	display: block;
	width: 90%;
	background: #fff;
	padding: 30px 0;
	border-radius: 10px;
	background: url(../img/person.jpg) no-repeat;
}

.personLink a {
	background: rgba(255, 255, 255, .8);
	color: #333;
	width: 80%;
	padding: 10px 0;
	display: block;
	margin: 0;
	cursor: pointer;
}

.personLink p {
	margin: 0 30px;
	letter-spacing: 10px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
}

.personLink a:hover {
	text-decoration: none;
}

@media (max-width: 749px) {
	.webApp {
		flex-direction: column;
	}
	.company,
	.person {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.projectType {
		width: 100%;
	}
	.personLink p {
		font-size: 18px;
	}
}

@media (min-width: 750px) {
	.webApp .project {
		border: none;
	}
}


/*----------------------------------------------------
  7. aboutMe
------------------------------------------------------*/

.photo {
	color: #333;
	line-height: 2em;
}

.introduction h2 {
	font-size: 1.5em;
	margin: 15px 0;
	margin-bottom: 0;
	text-align: left;
}

.photo img {
	max-width: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.color999 {
	color: #999;
}

.sm {
	margin-top: 0.8em;
}

.sex {
	margin-bottom: 1em;
}


/*----------------------------------------------------
  8. footer
------------------------------------------------------*/

.footer {
	background: #2c6787;
	color: #edecf2;
	font-size: 0.875em;
}

.footer .boundary {
	padding: 15px 0;
}

.qrcode img {
	width: 60px;
	height: 60px;
	float: left;
}

.qrcode p {
	margin: 7px 0px 0px 10px;
	float: left;
}

#backTop {
	width: 40px;
	height: 40px;
	padding: 10px;
	background: #d6efff;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #3498db;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	line-height: 1.5em;
}

#backTop:hover {
	text-decoration: none;
	color: #d6efff;
	background: #3498db;
}

@media (min-width: 750px) {
	.qrcode {
		float: left;
	}
	.cpr {
		margin-top: 7px;
		float: right;
	}
}

@media (max-width: 749px) {
	.cpr {
		margin-top: 8px;
	}
}


/*----------------------------------------------------
  9. forIE.html
------------------------------------------------------*/

.forIE {
	background: #333;
	color: #f6f6f6;
	line-height: 1.5em;
}

.container {
	margin: 30px;
}

.forIE p {
	text-indent: 2em;
}

.forIE strong {
	color: #f60;
	font-size: 1.5em;
}